/*CAROLYN LEA
	PROJECT 3
	MIU 1109
	SEPTEMBER 12, 2011
*/

#home h1 {
	border: 1px solid #37382C;
	margin:0px;
	padding:10px;
	background:#000000;
	color:#FEFEF0;
	font-family:georgia;
	font-size:30px;
}

#launch h1{
	border: 1px solid #37382C;
	margin:0px;
	padding:10px;
	background:#000000;
	color:#FEFEF0;
	font-family:georgia;
	font-size:30px;
}

#notes {
	height:65px;
}

#launch img{
	width:100%;
	margin-top:60px;
	margin-bottom:60px;
}

#dragon{
	position:absolute;
	left:170px;
	top:280px;
	z-index:1;	
}





