/*CAROLYN LEA
	PROJECT 3
	MIU 1109
	SEPTEMBER 12, 2011
*/

#home h1 {
	border: 1px solid #37382C;
	margin:0px;
	padding:10px;
	background:#000000;
	color:#FEFEF0;
	font-family:georgia;
	font-size:30px;
}

#notes {
	height:65px;
}

h1 img{
	margin:0px;
	padding:0px;
	width:100%;
	background-color:("images/deepscratch.jpg");
}

